::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #bdbcbc;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7e7c88;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #737373;
  }
